* {
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
    padding-left: $padding;
    padding-right: $padding;
}
.row{
    display: flex;
    margin-left: -$padding;
    margin-right: -$padding;

    flex-wrap: wrap;
}
.col{
    flex: 0 0 100%;
    padding: $padding;
}
@each $key, $value in $screen-sizes{
    @for $i from 1 through $column-count{
        .#{$key}-col-#{$i}{
            @extend .col;
        }

    }
    @media screen and (min-width: $value){
        @for $i from 1 through $column-count{
            .#{$key}-col-#{$i}{
                flex: 0 0 (100% / $column-count) * $i;
            }
            .#{$key}-push-#{$i - 1}{
                margin-left: (100% / $column-count) * ($i - 1);
            }
    }}
}
