$max-width: 1200px;
$column-count: 12;
$screen-sizes: (
    'small': 300px,
    'medium': 800px,
    'large': 1100px,
);
$padding : 10px;
$colors: (
    dark: #1c0b19,
    medium-dark: #140d4f,
    medium: #4ea699,
    light: #25e491,
    very-light: #ddf9ea,
    success: #7ac74f,
    info: #25ced1,
    warning: #f75c03,
    alert: #dc143c,
)
